header h1,
header h2 {
  text-align: center;
  margin: 80px auto;
}

header h1 {
  margin-bottom: 0px;
}

header h2 {
  margin-top: 20px;
}

header h1 img {
  height: 200px;
  weight: 240px;
}

header nav ul {
  top: 300px;
}
